DirectoryIndex ./pages/index.php
ErrorDocument 404 /pages/error404.php 

RewriteEngine on
RewriteRule ^wiki/?$ pages/wiki.php [L] 
RewriteRule ^bop_s/?$ pages/bops.php [L] 
RewriteRule ^spotted/?$ pages/spotted.php [L] 
RewriteRule ^index/?$ pages/index.php [L] 
RewriteRule ^accueil/?$ pages/index.php [L] 
RewriteRule ^login/(?)ticket=(.)*$ pages/log.php?ticket=$1 [L] 
RewriteRule ^login/?$ pages/log.php?section=login [L] 
RewriteRule ^logout/?$ pages/log.php?section=logout [L] 
RewriteRule ^numeros/?$ pages/numeros.php [L] 
RewriteRule ^numero-([0-9]*)$ pages/numero.php?numero=$1 [L] 
RewriteRule ^article-([0-9]*)$ pages/article.php?id=$1 [L] 
RewriteRule ^article/?$ pages/article.php [L] 
RewriteRule ^edit-article-([0-9]*)$ pages/edit_article.php?numero=$1 [L] 
RewriteRule ^edit-article-new$ pages/edit_article.php?numero=-1 [L] 
RewriteRule ^profile/([a-zA-Z0-9_-]*)-edit$ pages/view_profile.php?user=$1&edit=1 [L] 
RewriteRule ^profile/([a-zA-Z0-9_-]*)$ pages/view_profile.php?user=$1 [L] 
RewriteRule ^subscribe/([^/]+)/([^/]+)$ pages/mailing_list.php?action=subscribe&user=$1&mailing_list=$2 [L] 
RewriteRule ^unsubscribe/([^/]+)/([^/]+)/([0-9]+)$ pages/mailing_list.php?action=unsubscribe&user=$1&mailing_list=$2&code=$3 [L] 
RewriteRule ^admin/([a-zA-Z0-9_-]*)$ admin/$1.php [L] 
RewriteRule ^admin/?$ admin/home.php [L]
RewriteRule ^gestion-numeros/?$ pages/gestion_numeros.php [L]
RewriteRule ^gestion-roles/?$ pages/roles.php [L]