#articles_profile #nav{
    display: inline-block;
    border-bottom: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    margin-bottom: 15px;
    width: 70%;
}
#articles_profile #nav span{
    display: inline-block;
    border: 2px solid #FFFFFF;
    margin: 15px;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 5px;
    transition: all 0.1s;
}
#articles_profile #nav span.active,
#articles_profile #nav span.active:hover{
    color:rgb(255, 104, 104);
    border: 2px solid rgb(255, 104, 104);
    box-shadow: 5px 5px 0px rgb(255, 104, 104);
    transform: translateX(-5px) translateY(-5px);
}
#articles_profile #nav span:hover{
    box-shadow: 5px 5px 0px #FFFFFF;
    transform: translateX(-5px) translateY(-5px);
    cursor: pointer;
}
#articles_profile section{
    width: 100%;

}