
@media all {
#container_display_article{
	margin-top: 50px;
    background: linear-gradient(45deg,  #ececec 0%, #ffffff 100%);
    border-radius: 15px;
    width: 80%;
    height: auto;
    display:inline-block;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255,255,255,0.2);
    vertical-align: top;
	text-align: justify;
}
.miniarticle .last_update{
	color: #26292d;
	font-style: oblique;
	margin-right: 20px;
}
.miniarticle .rubrique{
    padding: 10px;
    display: inline-block;
	margin-right: 10px;
	border-radius: 20px;
    font-size: smaller;
    color:#049410;
    border: 2px solid #049410;
}
.link-miniarticle{
	text-decoration: none;
	display: inline-block;
	width: 70%;
}
.miniarticle .status_article{
	background-color: #f0ebb7;
	padding: 10px;
	margin-left: 10px;
	border-radius: 15px;
	color: #0e0e0e;
	font-size: small;
}
.miniarticle .status_article.correction,
.miniarticle .status_article.validation_pvdc,
.miniarticle .status_article.validation_admin
{
	background-color: #f9e728;
}
.miniarticle .status_article.refusé_pvdc,
.miniarticle .status_article.refusé_admin
{
	background-color: #f44a4a;
}
.miniarticle .status_article.brouillon{
	background-color: #5c98dd;
}
.miniarticle .status_article.attente_publication{
	background-color: #cbf381;
}
.miniarticle .status_article.publié{
	background-color: #8ff05f;
}
.miniarticle{
    background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 15px rgba(255,255,255,0.2);
	border-radius: 5px;
	margin-bottom: 15px;
	color: #26292d;
	transition: all 0.1s;
	overflow: hidden;
}
.miniarticle:hover{
	box-shadow: 5px 5px 0px rgb(255, 104, 104);
    transform: translateX(-5px) translateY(-5px);
	cursor: pointer;
}
.miniarticle .header-article{
	width: 100%;
	text-align: left;
	background-color: rgb(255, 104, 104);
	color: rgba(255,255,255,1);

}
.miniarticle .header-article h1{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
}
.miniarticle .sub-section{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.miniarticle h2{
	color:rgb(92, 92, 92);
	margin: 0px;
	padding: 0px;
	margin-left: 10px;

	display: inline-block;
	font-size: smaller;
}
.miniarticle div{
	display: inline-block;
}
#article_header h1.title{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	width: 87%;
}
#article_header h1.subtitle{
	color:rgb(238, 238, 238);
	margin: 0px;
	padding: 0px;
	font-size: large;
	display: inline-block;
	width: 87%;
}
#article_header .photo_couverture{
	display: inline-block;
	width: 10%;
	height: auto;
	margin-right: 5px;
	margin-left: 15px;
	margin-top: 15px;
}
#article_header{
	margin-bottom: 15px;
	border-radius: 15px 15px 0px 0px;
	padding: 5px;
	vertical-align: top;
	background-color: rgb(255, 104, 104);
	color:rgb(255, 255, 255);
}
#article_header .labels{
	width: 100%;
	display: flex;
	margin-top: 15px;
	margin-bottom: 5px;
	flex-direction: row;
	justify-content:right;
}
#article_header .labels .label{
    display: inline-block;
    padding: 10px;
	margin-right: 10px;
	border-radius: 20px;
    font-size: smaller;
	background-color: rgb(241, 241, 241);
}
#article_header .labels .rubrique{
    border: 2px solid #049410;
    color:#049410;
}
#article_header .labels .genre{
    border: 2px solid #120494;
    color:#120494;
}
#article_header .labels .registre{
    border: 2px solid #880494;
    color:#880494;
}
#article_header .labels .authors{
	font-style: oblique;
	display: inline-block;
    padding: 10px;
	margin-right: 10px;
	border-radius: 20px;
}
#article_content 
{
	padding-left: 15px;
	padding-right: 15px;
}
#article_content .img {
	max-height: 250px;
	max-width: 333px;
	height: auto;
	width: auto;
	margin-left:15%;
	margin-top:1rem;
	margin-bottom:1rem;
}

#article_content .img.big {
	max-height: 247mm;
	max-width: 175mm;
	margin-left:0.5%;
}

#article_content .img.medium, .img {
	max-height: 250px;
	max-width: 333px;
	margin-left:15%;
}

#article_content .img.small {
	max-height: 100px;
	max-width: 100px;
	margin-left:33%;
}

#article_content .quote{
    color: grey;
    font-style: italic;
    font-size:95%;
  }
  
#article_content p.quote{
    margin: 1rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    border-left: 5px grey solid;
    text-align:justify;
    font-size: 80%;
  }
  
#article_content .quote::before,.quote::after{
      content:'"';
      color:grey;
  }


.c-white{ color: white;}
.c-lavender{ color: lavender;}	.c-silver{ color: silver;}			.c-grey{ color: grey;}				.c-black{ color: black;}
.c-red{ color: red;}			.c-salmon{ color: salmon;} 			.c-tomato{ color: tomato;}			.c-firebrick{ color: firebrick;}
.c-orange{ color: orange;}		.c-orangered{ color: orangered;}	.c-darkorange{ color: darkorange;}	.c-brown{ color: brown;}
.c-yellow{ color: yellow;}		.c-gold{ color: gold;}				.c-navajowhite{ color: navajowhite;}.c-sandybrown{ color: sandybrown;}
.c-green{ color: green;}		.c-chartreuse{ color: chartreuse;}	.c-springgreen{ color: springgreen;}.c-seagreen{ color: seagreen;}
.c-blue{ color: blue;}			.c-royalblue{ color: royalblue;}	.c-turquoise{ color: turquoise;}	.c-navy{ color: navy;}	
.c-violet{ color: violet;}		.c-pink{ color: pink;}				.c-purple{ color: purple;}			.c-palevioletred{ color: palevioletred;}
}
@media all and (max-device-width: 480px) {
	.link-miniarticle {
		width: 98%;
		margin: 0px;
	}
	#article_header{
		text-align: center;
	}
	#article_header .photo_couverture{
		width: 50%;
	}
	#container_display_article{
		width: 98%;
		margin: 0px;
		padding: 0px;
	}
	#article_header .title{
		font-size: larger;
	}
	#article_content{
		padding: 10px;
		font-size: larger;
	}
	#container_display_article #article_content{
		padding: 30px;
	}
}
