@media all{
.section_container{
    border: 2px solid white;
    box-shadow: 2px 2px 10px #26292d inset;
    border-radius: 5px;
    width: 60%;
    display: inline-block;
}

.content_section{
    color: white;
}
}
@media all and (max-device-width: 480px) {
    .section_container{
        border-radius: 15px;
        width: 95%;
        border: 6px solid white;
    } 
}