
#gestion_roles{
    display: inline-block;
    width: 70%;
    text-align: center;
}
#gestion_roles div{
    display: inline-block;
    margin: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(255,255,255,0.2);
    border-radius: 5px;
    padding: 15px;
}
#gestion_roles div:hover{
    transform: scale(1.1);
}
#gestion_roles .role{
    display: inline-block;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}
#gestion_roles .login{
    display: inline-block;
    color: #26292d;
}
#gestion_roles .role.pvdc{
    background-color: #fffb01;
}
#gestion_roles .role.admin{
    background-color: #ea01ff;
}
#gestion_roles .role.correcteur{
    background-color: #01ff88;
}
#gestion_roles .role.redacteur{
    background-color: #01c4ff;
}
