@media all {
#display_numero{
    margin-top: 50px;
    background: linear-gradient(45deg,  #ececec 0%, #ffffff 100%);
    border-radius: 15px;
    width: 80%;
    height: auto;
    display:inline-block;
    overflow: hidden;
    box-shadow: 5px 5px 5px #4d4d4d;
    vertical-align: top;
}

#display_numero #title{
    box-shadow: 0px 5px 15px #26292d;
    text-align: left;
    padding-left: 20px;
    background: rgb(255, 104, 104);
    font-size: 50px;
    color:#26292d;
    border-bottom: 2px solid #26292d;
}
#display_numero #left_side{
    padding-top: 15px;
    width: 30%;
    display: inline-block;
    height: 100%;
    text-align: center;
    vertical-align: top;
}
#display_numero #left_side .article{
    color: #26292d;
    padding:10px;
    border-bottom: 1px solid #26292d;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    background-color: #ffffff;
    transition: all 0.1s;
}
#display_numero #left_side .article.active{
    border-right: 5px solid rgb(255, 104, 104);
    border-left: 5px solid rgb(255, 104, 104);
    transform: translateX(10px);
}
#display_numero #left_side .article.locked{
    background-color: rgba(0,0,0,0.1);
}
#display_numero #left_side .article.locked:hover{
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    cursor:help;
    transform: none;

}
#display_numero #left_side .article:hover{
    border-bottom: 1px solid #26292d;
    border-left: 5px solid #26292d;
    border-right: 5px solid #26292d;
    cursor: pointer;
    transform: translateX(10px);
}
#display_numero #right_side{
    display: inline-block;
    padding:50px;
    text-align: justify;
    width: 60%;
    height: auto;
}

.button_pdf_dl{
    float: right;
    padding: 5px;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    border: 2px solid #26292d;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(255, 104, 104);
    text-decoration: none;
    transition: all 0.1s;
}
.button_pdf_dl:hover{
    box-shadow: 5px 5px 0px #26292d;
    transform: translateX(-5px) translateY(-5px) scale(1.01);
}
.button_pdf_dl:hover .icon{
    transform: rotate(10deg);
}
}
@media all and (max-device-width: 480px) {
    #display_numero{
        border-radius: 15px;
        width: 98%;
    }
    #display_numero #title{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #display_numero #left_side{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        margin-top: 50px;
        padding-bottom: 50px;
        border-bottom: 5px solid rgb(255, 104, 104);
    }
    #display_numero #left_side .article{
        border-bottom: 2px solid #26292d;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #display_numero #left_side .article.active{
        border-left: 0px solid rgba(0,0,0,0);
        border-right: 0px solid rgba(0,0,0,0);
        background-color: rgb(255, 104, 104);
        transform: translateX(0px);
    }
    #display_numero #right_side{
        display: inline-block;
        width: 95%;
        padding: 0px;
    }
    #display_numero #right_side #article_header{
        border-radius: 0px;
    }
}